<aside class="sidebar">
    <ul class="menu-list">
        <li>
            <div class="menu-container">
                <button class="icon" id="menu">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </li>
        <li>
            <a class="icon" id="dashboard" asp-controller="AdminDashboard" asp-action="Index" style="text-decoration:none !important;">
                <i class="bi bi-speedometer2"></i>
            </a>
        </li>
        <li>
            <a class="icon" id="user" asp-controller="AdminUsers" asp-action="List" style="text-decoration:none !important;">
                <i class="bi bi-people"></i>
            </a>
        </li>
        <li>
            <a class="icon" id="tag" asp-controller="BlogTags" asp-action="List" style="text-decoration:none !important;">
                <i class="bi bi-tag"></i>
            </a>
        </li>
        <li>
            <a class="icon" id="blogPost" asp-controller="AdminBlogPosts" asp-action="List" style="text-decoration:none !important;">
                <i class="bi bi-postcard"></i>
            </a>
        </li>
        <li>
            <a class="icon" id="approval" asp-controller="BlogPostApproval" asp-action="List" style="text-decoration:none !important;">
                <i class="bi bi-joystick"></i>
            </a>
        </li>
    </ul>
    <div class="logout-container">
        <a class="icon-logout" asp-controller="Account" asp-action="Logout">
            <i class="bi bi-box-arrow-right me-2"></i>
        </a>
    </div>
</aside>


@section Scripts {
    <script src="/js/admin_sidebar.js"></script>
}
