################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Finance_BlogPost/obj
/Finance_BlogPost/bin
/Finance_BlogPost/Migrations
