html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* User Profile Styling */

.profile-container {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, #999 25%, transparent 25%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%), linear-gradient(45deg, #999 25%, transparent 25%);
    background-size: 20px 20px;
    overflow: hidden;
}

    .profile-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        display: none;
    }

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-image:hover .overlay {
    opacity: 1;
}

.file-input {
    display: none;
}

.icon {
    font-size: 2rem;
}

    .icon.delete {
        display: none;
    }

.form-group {
    margin-bottom: 1.5rem;
}