:root {
    --body-bg-color: #F0F6FD;
    --button-primary-bg: #2489D3;
    --csr-accent-one: #FFFE86;
    --csr-accent-two: #FCFCAE;
    --white: #fff;
}


html {
  font-size: 14px;
}
::selection {
    background-color: #FFFE86;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #E2F8E7;
}

/*Login Page Styling*/
.landing-page-heading {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}

/* User Profile Styling */

.profile-container {
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  background: linear-gradient(45deg, #999 25%, transparent 25%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%), linear-gradient(45deg, #999 25%, transparent 25%);
  background-size: 20px 20px;
  overflow: hidden;
}

  .profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: none;
  }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-image:hover .overlay {
  opacity: 1;
}

.file-input {
  display: none;
}

.icon {
  font-size: 2rem;
}

  .icon.delete {
    display: none;
  }

.form-group {
  margin-bottom: 1.5rem;
}




.card {
  margin-bottom: 20px;
}

.dashboard-card ul {
  list-style: none;
  padding: 0;
}

.dashboard-card li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

canvas {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.doughnut-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.blog-details-content img {
  max-width: 100%;
}


.navbar-nav li a {
    cursor: pointer;
}
nav{
    background-color: #fff !important;
}

/*Profile icon styling */
.avatar-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #006466;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.avatar-circle-small {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #006466;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
}



/*button styling */


.light-btn, .dark-btn {
    border-radius: 3.125rem;
    border: 0.125rem solid #006466;
    background-color: #fff;
    color: #006466;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
    transition: all 0.3s ease;
}

.dark-btn {
    background-color: #006466;
    color: #fff;
}

.light-btn:hover {
    background-color: #006466;
    color: #fff;
}

.dark-btn:hover {
    background-color: #fff;
    color: #006466;
    border: 0.125rem solid #006466;
}

@media (max-width: 767px) {
    .light-btn, .dark-btn{
        padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
        font-size: 0.875rem; /* Adjust font size for smaller screens */
    }
}




/* Sidebar Styling */


.sidebar-container {
    display: flex;
    justify-content: right;
    height: 100vh;
    width: auto;
    gap: 1.25rem; /* 20px */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4.875rem; /* 78px */
    height: 100vh;
    background-color: var(--white);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

.user-main {
    width: calc(100% - 4.875rem); /* 78px */
    padding: 1.25rem; /* 20px */
    transition: all 0.2s;
}

.icon {
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    background-color: var(--csr-accent-one);
    border-radius: 0.75rem; /* 12px */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1rem;
    padding: 0.938rem; /* 15px */
    gap: 0.938rem; /* 15px */
    transition: all 0.2s;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem; /* 10px */
    transition: all 0.2s;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 0.938rem;
    gap: 0.625rem;
    transition: all 0.2s;
    padding-left: 0;
}

.icon-logout {
    width: 100%;
    height: 3.75rem;
    background-color: var(--csr-accent-two);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

    .icon-logout:hover {
        background-color: var(--csr-accent-two);
        cursor: pointer;
    }

.logout-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--csr-accent-two);
    align-items: center;
    font-size: 0.9rem;
    gap: 0.625rem;
}

    .logout-container #logout-photo {
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 0.625rem;
    }

#user-container {
    display: flex;
    flex-direction: column;
    gap: -0.3125rem;
}

#user-name {
    font-size: 0.9rem;
    font-weight: 500;
}

#user-role {
    font-size: 0.7rem;
    font-weight: 400;
}



.dashboard-content-container {
    border-radius: 1.563rem;
    background: var(--white);
}

    .dashboard-content .h3, .dashboard-content-container .content-header, .dashboard-content-container .content-description {
        font-size: 1.375rem;
        font-weight: 600;
        word-wrap: break-word;
    }

.notification-header, .notification-description {
    font-size: 1rem;
    word-wrap: break-word;
}

