@model Finance_BlogPost.Models.ViewModels.BlogPostDetails
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<div class="py-2">
    <div class="container">
        <a asp-controller="BlogPostApproval" asp-action="List" class="btn dark-btn mb-5">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <h2>Blog Post Details</h2>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" id="id" asp-for="Id" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Heading</label>
                <input type="text" class="form-control" id="heading" asp-for="Heading" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Page Title</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="PageTitle" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control" id="content" asp-for="Content" readonly></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" readonly />
            </div>
            <div class="mb-3">

                @if (Model.BlogImageUrl != null)
                {
                    <img src="@Model.BlogImageUrl" id="blogImageDisplay" style="display:block;width: 300px;" />
                }
                else
                {
                    <img src="" id="blogImageDisplay" style="display:none;width: 300px;" />
                }
            </div>


            <div class="mb-3">
                <label class="form-label">URL Handle</label>
                <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Published Date</label>
                <input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Author</label>
                <input type="text" class="form-control" id="author" asp-for="Author" readonly />
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" readonly disabled>
                <label class="form-check-label">
                    Is Visible?
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label">Tags</label>
                <select class="form-select"
                        asp-items="@Model.Tags"
                        asp-for="SelectedTags">
                </select>
            </div>

            <div class="mb-3 d-flex">


                <button type="submit"
                        class="btn btn-success ms-2"
                        asp-area=""
                        asp-controller="BlogPostApproval"
                        asp-action="Approve">
                    Approve 
                </button>

                <button type="button"
                        class="btn btn-danger ms-2"
                        data-bs-toggle="modal" data-bs-target="#modalRejectBlotPost">
                    Reject
                </button>
            </div>

        </form>
    }

    else
    {
        <p>No blog post found!</p>

    }


</div>



<!-- Modal -->
<form method="post" asp-action="Reject">
    <div class="modal fade" id="modalRejectBlotPost" tabindex="-1" aria-labelledby="modalRejectBlotPost" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Please Provide Reason for Rejection</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">Id</label>
                        <input type="text" class="form-control" id="id" asp-for="Id" readonly/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reason</label>
                        <input type="text" class="form-control" asp-for="Reason" required/>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
    tinymce.init({
        selector: '#content',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        editable_root: false
    });
    </script>
}
