@model Finance_BlogPost.Models.ViewModels.AddUserRequest
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="py-2">
    <div class="container">
        <a asp-controller="AdminUsers" asp-action="List" class="btn dark-btn mb-5">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <h2>Add New User</h2>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" id="name" asp-for="Username" required />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" id="displayName" asp-for="Email" required />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" required minlength="8"/>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <fieldset class="form-group">

                <legend class="form-label"> Select a user role </legend>
                <div class="form-check">
                    <input type="checkbox" id="chkAdminRole" class="form-check-input"
                           asp-for="AdminRoleCheckbox" />
                    <label class="form-check-label" for="chkAdminRole">Admin</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="chkAuthorRole" class="form-check-input"
                           asp-for="AuthorRoleCheckbox" />
                    <label class="form-check-label" for="chkAuthorRole">Author</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="chkUserRole" class="form-check-input"
                           asp-for="UserRoleCheckbox" />
                    <label class="form-check-label" for="chkUserRole">Normal User</label>
                </div>
            </fieldset>

  
            

        </div>

        <div class="mb-3">
            <button type="submit" class="btn dark-btn">Submit</button>
        </div>
    </form>
</div>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
